<main>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Página inicial</a>
      </div>
    </div>
  </nav>

  <div class="container-lg mt-3">
    <div class="card border border-primary shadow mb-3">
      <div class="card-header bg-primary text-white">
        <strong>Adicionar item</strong>
      </div>
      <div class="card-body" (keyup)="persistForm()">
        <div class="input-group mb-2">
          <span class="input-group-text">Título:</span>
          <input type="text" class="form-control" [(ngModel)]="formCreate.title" max="150">
        </div>
        <div class="input-group">
          <span class="input-group-text">Descrição:</span>
          <textarea type="text" class="form-control" [(ngModel)]="formCreate.description"></textarea>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" [class.disabled]="formCreate.title.length <= 0" (click)="create()">
          Cadastrar
        </button>

        <button class="btn btn-info float-end" (click)="toggleView()">
          @if(card) {
            <i class="bi bi-table"></i>
          } @else {
            <i class="bi bi-card-checklist"></i>
          }
        </button>
      </div>
    </div>

    @if(card) {
      @for (row of items; track row.id) {
        <div class="card border mb-2 shadow" [class]="row.concludedAt ? 'border-success' : 'border-dark'">
          <div class="card-header" [class]="row.concludedAt ? 'bg-success' : 'bg-dark'">
            <strong class="text-white">{{row.title}}</strong>
          </div>
          <div class="card-body">
            {{row.description ? row.description : 'Sem descrição'}}
            <br>
            <strong>Cadastro: </strong> {{row.createdAtFormat}} ({{ row.userName }})
            <br>
            <strong>Conclusão: </strong> {{row.concludedAt ? row.concludedAtFormat : 'Pendente'}}
          </div>
          <div class="card-footer">
            <button class="btn mx-2" (click)="toggleConclude(row.id)" [class]="row.concludedAt ? 'btn-secondary' : 'btn-success'">
              @if(row.concludedAt) {
                Desfazer <i class="bi bi-arrow-counterclockwise"></i>
              } @else {
                Concluir <i class="bi bi-check-circle-fill"></i>
              }
            </button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-update-item" (click)="setupUpdate(row)">
              Editar <i class="bi bi-pencil-fill"></i>
            </button>
          </div>
        </div>
      }
      @empty {
        <div class="card border border-dark mb-2">
          <div class="card-header bg-dark">
            <strong class="text-white">Nenhum tarefa registrada</strong>
          </div>
          <div class="card-body">
            Adicione uma tarefa...
          </div>
          <div class="card-footer">
            <button class="btn btn-success mx-2 disabled">
              Concluir <i class="bi bi-check-circle-fill"></i>
            </button>
            <button class="btn btn-primary disabled">
              Editar <i class="bi bi-pencil-fill"></i>
            </button>
          </div>
        </div>
      }
    }
    @else {
      <table class="table mt-3 shadow">
        <thead>
        <tr class="table-secondary">
          <th>Item</th>
          <th>Cadastrado por</th>
          <th>Descrição</th>
          <th class="text-center">Concluído</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          @for (row of items; track row.id) {
            <tr class="align-middle" [class.table-success]="row.concludedAt">
              <td>{{ row.title }}</td>
              <td>{{ row.userName }}</td>
              <td>{{ row.descriptionShort }}</td>
              <td class="text-center">
                @if(row.concludedAt) {
                  Sim
                }
                @else {
                  Não
                }
              </td>
              <td class="text-end">
                <button class="btn mx-2" (click)="toggleConclude(row.id)" [class]="row.concludedAt ? 'btn-secondary' : 'btn-success'">
                  @if(row.concludedAt) {
                    <i class="bi bi-arrow-counterclockwise"></i>
                  } @else {
                    <i class="bi bi-check-circle-fill"></i>
                  }
                </button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-update-item" (click)="setupUpdate(row)">
                  <i class="bi bi-pencil-fill"></i>
                </button>
              </td>
            </tr>
          }
          @empty {
            <tr>
              <td colspan="99">Nenhum tarefa registrada</td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>

  <app-modal-form-update [formData]="formUpdate" (appGet)="get()"></app-modal-form-update>
  @if(loading) {
    <app-loader></app-loader>
  }
</main>

<router-outlet />
